<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="/index.css">

    </link>
    <title>Document</title>
</head>

<body>
    <div id="app">

        <form action="" class="form-list" @submit.prevent="onSubmit" v-if="!visible">
            <div class="form-list__item">
                <label for="EmailUser">Email</label>
                <input type="text" v-model="email" name="email" id="EmailUser">
            </div>
            <div class="form-list__item">
                <label for="nameUser">First Name</label>
                <input type="text" v-model="firstName" name="firstName" id="nameUser">
            </div>

            <div class="form-list__item">
                <label for="secondNameUser">Second Name</label>
                <input type="text" v-model="lastName" name="lastName" id="secondNameUser">
            </div>

            <div class="form-list__item">
                <label for="phoneUser">Phone</label>
                <input type="text" v-model="phone" name="phone" id="phoneUser">
            </div>

            <div class="giests-btn-wrap">
                <p>
                    Guest
                </p>

                <button class="add-guest giests-btn-wrap__margin" @click="addGuests($event)">
                    +
                </button>

            </div>

            <div class="guests-list">

                <div class="form-list__item" v-for="(guest,key) in guests">
                    <label @dblclick="deleteGuest(key)">Guest {{key + 1}}</label>
                    <input type="text" v-model="guests[key]">
                </div>

            </div>
            <button type="submit">
                send info
            </button>
        </form>



        <div class="result" v-show="visible">
            <div class="result__item">
                Name
                <p>
                    {{fullName}}
                </p>
            </div>

            <div class="result__item">
                Email
                <p>
                    {{email}}
                </p>
            </div>

            <div class="result__item">
                Phone
                <p>
                    {{phone}}
                </p>
            </div>

            <div class="result__item">
                <ul>
                    <p>
                        Guests:
                    </p>
                    <li v-for="(guest, index) in guests">
                        {{guest}}
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <script>
        let app = new Vue({
            el: '#app',
            data: {
                title: 'lavrik',
                email: '',
                firstName: '',
                lastName: '',
                phone: '',
                guests: [],
                visible: false,
                disabled: true,


            },
            computed: {
                fullName() {
                    return this.firstName + ' ' + this.lastName;
                }
            },
            methods: {
                addGuests(e) {
                    e.preventDefault();
                    this.guests.push('')
                },
                deleteGuest(key) {
                    this.guests.splice(key, 1)
                },
                onSubmit() {
                    this.visible = true;

                }
            }
        })
    </script>
</body>

</html>