.list {
  max-width: 600px;
  width: 100%;
  margin: auto;
}

input {
  width: 100%;
  height: 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  border: 1px solid #000;
}

.form-list__item {
  margin-bottom: 20px;
}

.add-guest {
  width: 20px;
  height: 20px;
  background-color: cornflowerblue;
  border: none;
  outline: none;
}

.giests-btn-wrap {
  display: flex;
  align-items: center;
}

.giests-btn-wrap__margin {
  margin-left: 10px;
}

#app {
  padding-top: 50px;
  max-width: 800px;
  margin: auto;
}
